.onlyoffice-centered-card {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px;

  inset: 0;

  background: #ffffff;
}

.onlyoffice-centered-card__body {
  width: 384px;
  max-width: 100%;

  padding: 32px;
  border-radius: 8px;

  text-align: center;

  background: #fff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
