.onlyoffice-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--onlyoffice-font-sans);
    color: var(--onlyoffice-color-text);

    background: var(--onlyoffice-color-surface);
}
