@import "./variables.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  position: relative;

  font-family: var(--onlyoffice-font-sans);
  color: var(--onlyoffice-color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
