.onlyoffice-input__control-wrap {
  position: relative;
}

.onlyoffice-input--password .onlyoffice-input__control {
  padding-right: 40px;
}

.onlyoffice-input__toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 0 12px;

  border: none;
  cursor: pointer;
  background: none;
}

.onlyoffice-input__toggle:focus {
  outline: none;
}
