.onlyoffice-spinner {
    color: var(--onlyoffice-color-border);
    animation: spin 1s linear infinite;
}

.onlyoffice-spinner path:last-child {
     color: var(--onlyoffice-color-primary);
}

.onlyoffice-spinner--sm {
    width: 16px;
    height: 16px;
}

.onlyoffice-spinner--lg {
    width: 64px;
    height: 64px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
